trunk/HedgeHog.Alice.Client/Service References/TraderService/Order2GoAddIn.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Order2GoAddIn" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Order2GoAddIn" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTrade">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Trade" nillable="true" type="tns:Trade" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrade" nillable="true" type="tns:ArrayOfTrade" />
  <xs:complexType name="Trade">
    <xs:sequence>
      <xs:element minOccurs="0" name="Buy" type="xs:boolean" />
      <xs:element minOccurs="0" name="GrossPL" type="xs:double" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Limit" type="xs:double" />
      <xs:element minOccurs="0" name="Lots" type="xs:int" />
      <xs:element minOccurs="0" name="Open" type="xs:double" />
      <xs:element minOccurs="0" name="PL" type="xs:double" />
      <xs:element minOccurs="0" name="Pair" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="tns:TradeRemark" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Trade" nillable="true" type="tns:Trade" />
  <xs:complexType name="TradeRemark">
    <xs:sequence>
      <xs:element name="_angle" type="xs:double" />
      <xs:element name="_tradeWaveHeight" type="xs:double" />
      <xs:element name="_tradeWaveInMinutes" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TradeRemark" nillable="true" type="tns:TradeRemark" />
</xs:schema>