trunk/HedgeHog.Alice.Client/Service References/PriceService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/HedgeHog.Bars" />
  <xs:element name="FillPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pair" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HedgeHog.Bars" minOccurs="0" name="FillPriceResult" nillable="true" type="q1:ArrayOfRate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPair">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pair" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPairResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPairResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>