HedgeHog.Alice.Store/Service References/PriceService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PriceService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IPriceService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/HedgeHog.Bars" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPriceService_FillPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:FillPrice" />
  </wsdl:message>
  <wsdl:message name="IPriceService_FillPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:FillPriceResponse" />
  </wsdl:message>
  <wsdl:message name="IPriceService_AddPair_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPair" />
  </wsdl:message>
  <wsdl:message name="IPriceService_AddPair_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPairResponse" />
  </wsdl:message>
  <wsdl:portType name="IPriceService">
    <wsdl:operation name="FillPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/IPriceService/FillPrice" message="tns:IPriceService_FillPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPriceService/FillPriceResponse" message="tns:IPriceService_FillPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPair">
      <wsdl:input wsaw:Action="http://tempuri.org/IPriceService/AddPair" message="tns:IPriceService_AddPair_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPriceService/AddPairResponse" message="tns:IPriceService_AddPair_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IPriceService" type="tns:IPriceService">
    <wsp:PolicyReference URI="#NetTcpBinding_IPriceService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="FillPrice">
      <soap12:operation soapAction="http://tempuri.org/IPriceService/FillPrice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPair">
      <soap12:operation soapAction="http://tempuri.org/IPriceService/AddPair" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PriceService">
    <wsdl:port name="NetTcpBinding_IPriceService" binding="tns:NetTcpBinding_IPriceService">
      <soap12:address location="net.tcp://localhost:8732/Design_Time_Addresses/HedgeHog.Alice.Server/PriceService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8732/Design_Time_Addresses/HedgeHog.Alice.Server/PriceService/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>