branches/4.5.1/HedgeHog/Service References/TradingService/Order2GoAddIn.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Order2GoAddIn" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Order2GoAddIn" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Trade">
    <xs:sequence>
      <xs:element name="_x003C_Buy_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_GrossPL_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_Id_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Limit_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_Lots_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Open_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_PL_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_Pair_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Remark_x003E_k__BackingField" nillable="true" type="tns:TradeRemark" />
      <xs:element name="_x003C_Time_x003E_k__BackingField" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Trade" nillable="true" type="tns:Trade" />
  <xs:complexType name="TradeRemark">
    <xs:sequence>
      <xs:element name="_angle" type="xs:double" />
      <xs:element name="_tradeWaveHeight" type="xs:double" />
      <xs:element name="_tradeWaveInMinutes" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TradeRemark" nillable="true" type="tns:TradeRemark" />
  <xs:complexType name="ArrayOfTrade">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Trade" nillable="true" type="tns:Trade" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrade" nillable="true" type="tns:ArrayOfTrade" />
</xs:schema>